body {
  font-family: sans-serif;
  background-color: #f0f0f5;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 520px;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
  padding: 10px 20px;
  box-shadow: 0 0 10px #ccc;
}

header {
  text-align: left;
}

#logo {
  font-size: 1.6rem;
  color: #004488;
  letter-spacing: 1px;
  font-weight: 900;
  margin-bottom: 10px;
}

.resposta {
  flex-grow: 1;
  background-color: #eaffea;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow-y: auto;
  height: 240px;
  white-space: pre-line;
}

.digitando {
  font-size: 0.9rem;
  color: #999;
  margin-bottom: 10px;
  font-style: italic;
}

form {
  display: flex;
  gap: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
}

button {
  background-color: #004488;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

button:hover {
  background-color: #0066cc;
}

.mensagem {
  margin-bottom: 10px;
}

.mensagem-usuario {
  color: #004488;
}

.mensagem-bot {
  color: #008800;
}

.mensagem-erro {
  color: red;
}

footer {
  margin-top: 10px;
  text-align: center;
}

.credito {
  font-size: 0.7rem;
  color: #bbb;
}
